<a href="https://colab.research.google.com/github/Jonikulov/DS-AI-Mohirdev/blob/main/2_2-Data-Analysis-Pandas/2_2_4_Pandas_reindex_select_slice_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Data Science and Artificial Intelliegence Practicum
## 2.2-modul. Data Analysis: Pandas
---

## 2.2.4 - reindex, select, slice, filter

In [127]:
import pandas as pd
import numpy as np

In [128]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       'Zichlik':[79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]
        }

In [129]:
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [130]:
df.reindex(index=[1,3,5,7],
           columns=['Yil', 'Temp', "Zichlik"]
           )

    Yil  Temp  Zichlik
1  2020  1.48    78.68
3  2018  1.62    76.34
5  2016  1.66    73.91
7  2010  1.53    67.03

In [131]:
df.index=[21,20,19,18,17,16,15,10]
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

### indexing with `.loc`

In [132]:
df.loc[[20,18,16], ["Yil", "Temp"]]

     Yil  Temp
20  2020  1.48
18  2018  1.62
16  2016  1.66

### `drop` specified labels from rows or columns

In [133]:
df.drop(20)  # drop index '20'

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [134]:
df.drop([19, 17])

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
18  2018        32.5  1.62    76.34
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

### `axis="0"` and` axis="1"`

In [135]:
df.drop('Temp', axis=1)

     Yil  Aholi soni  Zichlik
21  2021        33.9    79.77
20  2020        33.5    78.68
19  2019        32.9    77.53
18  2018        32.5    76.34
17  2017        31.9    75.13
16  2016        31.4    73.91
15  2015        30.9    72.71
10  2010        28.5    67.03

In [136]:
df.drop(["Yil", "Temp"], axis=1)

    Aholi soni  Zichlik
21        33.9    79.77
20        33.5    78.68
19        32.9    77.53
18        32.5    76.34
17        31.9    75.13
16        31.4    73.91
15        30.9    72.71
10        28.5    67.03

### `axis="rows"` and` axis="columns"`

In [137]:
df.drop([18,16], axis="rows")

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
17  2017        31.9  1.65    75.13
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [138]:
df.drop("Zichlik", axis="columns")

     Yil  Aholi soni  Temp
21  2021        33.9  1.54
20  2020        33.5  1.48
19  2019        32.9  1.56
18  2018        32.5  1.62
17  2017        31.9  1.65
16  2016        31.4  1.66
15  2015        30.9  1.64
10  2010        28.5  1.53

### `index` and `columns` parameters

In [139]:
df.drop(index=[20,18,16], columns=["Yil", "Zichlik"])

    Aholi soni  Temp
21        33.9  1.54
19        32.9  1.56
17        31.9  1.65
15        30.9  1.64
10        28.5  1.53

### `inplace` parameter

In [140]:
df.drop("Yil", axis=1, inplace=True)
df

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13
16        31.4  1.66    73.91
15        30.9  1.64    72.71
10        28.5  1.53    67.03

### indexing, selecting rows or columns, filtering

#### Series

In [141]:
data = df['Aholi soni']  # extracting Series object
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [142]:
data[15]  # return specific index as numpy.float

30.9

In [143]:
type(data[15])

numpy.float64

In [144]:
data[[15]]  # return specific index as Series object

15    30.9
Name: Aholi soni, dtype: float64

In [145]:
type(data[[15]])

pandas.core.series.Series

In [146]:
data[0:2]  # return 0 and 1 elements (integer location)

21    33.9
20    33.5
Name: Aholi soni, dtype: float64

In [147]:
data[[21, 19, 17]]  # return specified indexes

21    33.9
19    32.9
17    31.9
Name: Aholi soni, dtype: float64

In [148]:
obj = pd.Series(np.arange(8.),
                index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
                )
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [149]:
print(obj['d'])
type(obj['d'])

3.0

numpy.float64

In [150]:
print(obj[['e']])
type(obj[['e']])

e    4.0
dtype: float64

pandas.core.series.Series

In [151]:
obj[0:4]  # 0, 1, 2, 3 integer locations

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [152]:
obj['b':'f']  # 'b', 'c', 'd', 'e', 'f' indexes

b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [153]:
obj[[0,2,4]]

a    0.0
c    2.0
e    4.0
dtype: float64

In [154]:
obj[['a', 'c', 'g']]

a    0.0
c    2.0
g    6.0
dtype: float64

In [155]:
obj['a':'c'] = 15
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

##### filtering

In [156]:
obj[obj < 10]

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [157]:
obj[obj == 15]

a    15.0
b    15.0
c    15.0
dtype: float64

#### DataFrame

In [158]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df1 = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
     }
)

In [159]:
df1

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [160]:
df1["Uzbekistan"]

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [161]:
df1[["Uzbekistan"]]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [162]:
df1[['Uzbekistan','Turkmenistan']]

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

In [163]:
df1[:3]  # return 0, 1, 2 rows

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9

In [164]:
df1 > 15

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True       False       False         False
2019        True        True       False       False         False
2018        True        True       False       False         False
2017        True        True       False       False         False
2016        True        True       False       False         False
2015        True        True       False       False         False

In [165]:
filt = df1["Uzbekistan"] > 32

In [166]:
df1[["Uzbekistan"]][filt]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [167]:
df2 = df1.transpose(copy=True)
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [168]:
df2[df2[2015] > 7]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [169]:
df2[df2 < 8] = 0
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     0.0   0.0   0.0   0.0   0.0   0.0
Turkmenistan   0.0   0.0   0.0   0.0   0.0   0.0

In [170]:
df2[[2020]]

              2020
Uzbekistan    33.5
Kazakhstan    18.8
Tajikistan     9.5
Kyrgizstan     0.0
Turkmenistan   0.0

### `loc`/`iloc` and `at`/`iat`

#### `.loc` - access a group of rows and columns by label(s) or a boolean array

In [171]:
df1.loc[[2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0

In [172]:
df1.loc[[2018, 2015]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2018        32.5        18.3         9.1         6.3           5.9
2015        30.9        17.6         8.5         6.0           5.6

In [173]:
df1.loc[[2020, 2018, 2016], ["Uzbekistan", "Kazakhstan"]]

      Uzbekistan  Kazakhstan
2020        33.5        18.8
2018        32.5        18.3
2016        31.4        17.8

#### `.iloc` - purely integer-location based indexing for selection by position

In [174]:
df1.iloc[[0, 2, 4]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2018        32.5        18.3         9.1         6.3           5.9
2016        31.4        17.8         8.7         6.1           5.6

In [175]:
df1.iloc[[1, 3], [0, 1, 2]]

      Uzbekistan  Kazakhstan  Tajikistan
2019        32.9        18.5         9.3
2017        31.9        18.1         8.9

#### `.at` - access a single value for a row/column label pair

In [176]:
df1

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [177]:
df1.at[2018, "Uzbekistan"]

32.5

In [178]:
df1.at[2020, "Uzbekistan"] - df1.at[2015, "Uzbekistan"]

2.6000000000000014

#### `.iat` - access a single value for a row/column pair by integer position

In [179]:
df1.iat[2, 1]  # row=2, column=1

18.3

### number indexing

In [180]:
nums = list(range(10, 21))
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [181]:
nums[0]

10

In [182]:
nums[-1]

20

In [183]:
obj = pd.Series(np.arange(10.0, 21.0))
obj

0     10.0
1     11.0
2     12.0
3     13.0
4     14.0
5     15.0
6     16.0
7     17.0
8     18.0
9     19.0
10    20.0
dtype: float64

In [184]:
obj[0]

10.0

In [185]:
obj[-1]  # causes an error!

KeyError: ignored

**This method does not work if indexes containted from integers. What if indexes are not integer but string?**

In [186]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [187]:
ser[0]

0.0

In [188]:
ser[-1]  # works fine!

4.0

**Solution: using `loc`/`iloc` attributes**

In [189]:
obj.loc[3]

13.0

In [190]:
obj.iloc[-1]

20.0

In [191]:
ser.loc['d']

3.0

In [193]:
ser.iloc[-1]

4.0