---
# Data Science and Artificial Intelliegence Practicum
## 3.1-modul. Data Wrangling
---

## 3.1.4 - SQLite 2 - Write to SQL

In [ ]:
import pandas as pd
import sqlite3 as sql

### Load DataFrame to SQL Table

creat a new database

In [ ]:
db = sql.connect("newdb.db")
cursor = db.cursor()

download csv as df

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.head()

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

let's modify column names before loading df to sql table in order to avoid writing "*painful*" sql queries )

In [ ]:
cols = ['country','code','year','coal','gas','hydro','renewable_other','solar','oil','wind','nuclear']
df.columns = cols
df.head()

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

**`DataFrame.to_sql`** - write records stored in a DataFrame to a SQL database

In [ ]:
# load df to sql table
df.to_sql("elec", db)

In [ ]:
# list all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

[('elec',)]

In [ ]:
# table info
cursor.execute("PRAGMA table_info(elec)")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [ ]:
pd.read_sql("SELECT * FROM elec", db, index_col='index')

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
index,,,,,,,,,,,
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

### Create a new table in SQL Database

`db.commit` - save (commit) the changes

In [ ]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);
"""

cursor.execute(query)
db.commit()

In [ ]:
# list all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

[('elec',), ('worldpop',)]

In [ ]:
# table info
cursor.execute("PRAGMA table_info(worldpop)")
cursor.fetchall()

[(0, 'rank', 'INT', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 1),
 (2, 'density', 'DOUBLE', 0, None, 0),
 (3, 'population', 'DOUBLE', 1, None, 0),
 (4, 'area', 'INT', 1, None, 0)]

In [ ]:
# read (empty) table as df
pd.read_sql("SELECT * FROM worldpop", db)

Empty DataFrame
Columns: [rank, country, density, population, area]
Index: []

#### insert data into a sql table

In [ ]:
query = """
INSERT INTO worldpop VALUES (1, 'Macau', 21946.4667, 658.3940, 30)
"""

cursor.execute(query)
db.commit()

In [ ]:
pd.read_sql("SELECT * FROM worldpop", db)

   rank country     density  population  area
0     1   Macau  21946.4667     658.394    30

In [ ]:
query = """
INSERT INTO worldpop (country, population, area)
VALUES ('Uzbekistan', 33935.7630, 447400)
"""

cursor.execute(query)
db.commit()

In [ ]:
# missing values will be None
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(1, 'Macau', 21946.4667, 658.394, 30),
 (None, 'Uzbekistan', None, 33935.763, 447400)]

#### update data in the sql table

In [ ]:
query = """
UPDATE worldpop
SET rank=133, density=75.8511
WHERE country='Uzbekistan'
"""

cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(1, 'Macau', 21946.4667, 658.394, 30),
 (133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

#### delete data from sql table

In [ ]:
query = "DELETE FROM worldpop WHERE country='Macau'"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

#### delete a sql table

In [ ]:
cursor.execute("DROP TABLE worldpop")
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

[('elec',)]

### Writing SQL queries with f-string

load a new dataframe

In [ ]:
df2 = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/world_population.csv", index_col='rank')
df2.head()

        country     density   densityMi   pop2021  area
rank
1         Macau  21946.4667  56841.3487   658.394    30
2        Monaco  19755.5000  51166.7450    39.511     2
3     Singapore   8305.1915  21510.4461  5896.686   710
4     Hong Kong   6841.3134  17719.0017  7552.810  1104
5     Gibraltar   5616.3333  14546.3033    33.698     6

create a new sql table

In [ ]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);
"""

cursor.execute(query)
db.commit()

extract certain data from df

In [ ]:
uzb = df2[df2.country == 'Uzbekistan']
uzb

         country  density  densityMi    pop2021    area
rank
133   Uzbekistan  75.8511   196.4542  33935.763  447400

In [ ]:
rank = uzb.index.values[0]
country = uzb.at[rank, 'country']
density = uzb.at[rank, 'density']
population = uzb.at[rank, 'pop2021']
area = uzb.at[rank, 'area']

print(f"rank={rank}, country={country}, density={density}, population={population}, area={area}")

rank=133, country=Uzbekistan, density=75.8511, population=33935.763, area=447400

In [ ]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

### close the database

In [ ]:
db.close()