---
# Data Science and Artificial Intelliegence Practicum
## 3.3-modul. Data Wrangling
---

## 3.3.1 - Hierarchical Indexing

In [181]:
import numpy as np
import pandas as pd

### Hierarchical indexing (MultiIndex)

In [2]:
data = pd.Series(np.random.randn(9),
                 index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])
data

a    0.348722
a    0.275856
a    0.957916
b   -1.021632
b   -0.395283
c    0.084543
c    0.010768
d    0.181876
d   -0.177577
dtype: float64

In [3]:
data1 = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]]) # hierarchical index
data1

a  1    0.605105
   2   -0.962847
   3    0.290316
b  1   -0.520639
   3    2.204184
c  1    1.237157
   2    0.923714
d  2   -1.012972
   3    0.810996
dtype: float64

In [66]:
print(data.index)
print()
print(data1.index)

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

#### Indexing and Slicing

In [5]:
data1['a']  # extract with subset

1    0.605105
2   -0.962847
3    0.290316
dtype: float64

In [6]:
data['a'][2]  # single point

0.957915865673547

In [7]:
data1['c':'d']  # select from 'c' to 'd'

c  1    1.237157
   2    0.923714
d  2   -1.012972
   3    0.810996
dtype: float64

In [8]:
data1[:, 2]  # separates all data in index 2

a   -0.962847
c    0.923714
d   -1.012972
dtype: float64

In [9]:
data1.loc[['b', 'd']]  # all elements in index b and d

b  1   -0.520639
   3    2.204184
d  2   -1.012972
   3    0.810996
dtype: float64

### **`DataFrame.unstack(`*`level= -1, fill_value=None`*`)`**
Pivot a level of the (necessarily hierarchical) index labels.

**Parameters:**

- **level : *int, str, or list of these, default -1 (last level)*** -> Level(s) of index to unstack, can pass level name.

- **fill_value : *int, str or dict*** -> Replace NaN with this value if the unstack produces missing values.

In [10]:
print(data1)

a  1    0.605105
   2   -0.962847
   3    0.290316
b  1   -0.520639
   3    2.204184
c  1    1.237157
   2    0.923714
d  2   -1.012972
   3    0.810996
dtype: float64

In [11]:
data1.unstack()

          1         2         3
a  0.605105 -0.962847  0.290316
b -0.520639       NaN  2.204184
c  1.237157  0.923714       NaN
d       NaN -1.012972  0.810996

### **`DataFrame.stack(`*`level= -1, dropna=True`*`)`**
Stack the prescribed level(s) from columns to index.

**Parameters:**

- **level : *int, str, list, default -1*** -> Level(s) to stack from the column axis onto the index axis, defined as one index or label, or a list of indices or labels.

- **dropna : *bool, default True*** -> Whether to drop rows in the resulting Frame/Series with missing values. Stacking a column level onto the index axis can create combinations of index and column values that are missing from the original dataframe.

In [12]:
data1.unstack().stack()

a  1    0.605105
   2   -0.962847
   3    0.290316
b  1   -0.520639
   3    2.204184
c  1    1.237157
   2    0.923714
d  2   -1.012972
   3    0.810996
dtype: float64

### Working with real world data

**World cities air quality and water pollution. 2020**

https://kaggle.com/datasets/cityapiio/world-cities-air-quality-and-water-polution

In [13]:
! mkdir ~/.kaggle/
! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/
! ls ~/.kaggle

kaggle.json

In [14]:
! kaggle datasets download cityapiio/world-cities-air-quality-and-water-polution
! ls

Downloading world-cities-air-quality-and-water-polution.zip to /content
  0% 0.00/61.1k [00:00<?, ?B/s]
100% 61.1k/61.1k [00:00<00:00, 37.2MB/s]
drive  sample_data  world-cities-air-quality-and-water-polution.zip

In [15]:
! unzip world-cities-air-quality-and-water-polution.zip
! ls

Archive:  world-cities-air-quality-and-water-polution.zip
  inflating: cities_air_quality_water_pollution.18-10-2021.csv
cities_air_quality_water_pollution.18-10-2021.csv
drive
sample_data
world-cities-air-quality-and-water-polution.zip

In [16]:
df = pd.read_csv("cities_air_quality_water_pollution.18-10-2021.csv")
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3963 non-null   object
 1    "Region"          3963 non-null   object
 2    "Country"         3963 non-null   object
 3    "AirQuality"      3963 non-null   float64
 4    "WaterPollution"  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [18]:
df.columns = ["City", "Region", "Country", "AirQuality", "WaterPollution"]
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [19]:
# Remove the "(quotation marks) from the data in the Region column
df['Region'] = df['Region'].map(lambda x: x.replace('"', ""))
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,"""United States of America""",46.816038,49.504950
1,"Washington, D.C.",District of Columbia,"""United States of America""",66.129032,49.107143
2,San Francisco,California,"""United States of America""",60.514019,43.000000
3,Berlin,,"""Germany""",62.364130,28.612717
4,Los Angeles,California,"""United States of America""",36.621622,61.299435

In [20]:
# Remove the "(quotation marks) from the data in the Country column
df['Country'] = df['Country'].map(lambda x: x.replace('"', ""))
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [21]:
df[df['Country']=='Germany']

Empty DataFrame
Columns: [City, Region, Country, AirQuality, WaterPollution]
Index: []

In [22]:
df['Country'][3]

' Germany'

Note that there's a white space before each value in Region and Country columns, we have to fix it!

In [23]:
df['Region'][2]

' California'

In [24]:
df[['Region', 'Country']] = df[['Region', 'Country']].apply(lambda x : x.str.strip())
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [25]:
df[df['Country']=='Germany'].head()

         City                  Region  Country  AirQuality  WaterPollution
3      Berlin                          Germany   62.364130       28.612717
28    Cologne  North Rhine-Westphalia  Germany   60.714286       27.777778
40       Bonn  North Rhine-Westphalia  Germany   82.812500       22.500000
52  Heilbronn       Baden-Wurttemberg  Germany   80.000000        0.000000
76     Aachen  North Rhine-Westphalia  Germany   70.454545       17.857143

In [26]:
# There should be NaN values ​​instead of blank values in the Region column.
df[df['Region']==""]

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
8,Basel,,Switzerland,81.666667,26.923077
17,Vilnius,,Lithuania,77.247191,20.588235
18,Monaco,,Monaco,28.787879,61.363636
19,Brussels,,Belgium,35.810811,44.761905
...,...,...,...,...,...
3896,Croton,,Italy,62.500000,50.000000
3907,Dudelange,,Luxembourg,66.666667,62.500000
3929,Siping,,People's Republic of China,0.000000,50.000000
3944,Loures,,Portugal,100.000000,50.000000
3949,Vila do Conde,,Portugal,100.000000,50.000000

In [27]:
# Replace blank values with NaN
df[df['Region']==""] = df[df['Region']==""].replace("", np.nan)
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,NaN,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [28]:
df[df['Country']=='Uzbekistan']

        City Region     Country  AirQuality  WaterPollution
21  Tashkent    NaN  Uzbekistan   56.451613       49.166667

### Hierarchical Indexes
`pandas.pivot_table` - Create a spreadsheet-style pivot table as a DataFrame.

In [63]:
# pd.pivot_table(df, index=['Country', 'City'])
df1 = df.pivot_table(index = ['Country', 'City'])
df1

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [67]:
print(df.index)
print()
print(df1.index)

RangeIndex(start=0, stop=3963, step=1)

MultiIndex([('Afghanistan',        'Andkhoy'),
            ('Afghanistan',          'Farah'),
            ('Afghanistan',          'Herat'),
            ('Afghanistan',          'Kabul'),
            ('Afghanistan',       'Kandahar'),
            ('Afghanistan', 'Mazar-i-Sharif'),
            (    'Albania',         'Ballsh'),
            (    'Albania',         'Burrel'),
            (    'Albania',         'Durres'),
            (    'Albania',        'Elbasan'),
            ...
            (      'Yemen',          'Sanaa'),
            (      'Yemen',         'Ta'izz'),
            (     'Zambia',       'Chingola'),
            (     'Zambia',          'Kitwe'),
            (     'Zambia',         'Lusaka'),
            (     'Zambia',          'Mansa'),
            (   'Zimbabwe',        'Bindura'),
            (   'Zimbabwe',       'Bulawayo'),
            (   'Zimbabwe',         'Harare'),
            (   'Zimbabwe',       'Masvingo')],
           names=['Country', 'City'], length=3895)

In [69]:
df1.loc[['Uzbekistan', 'Germany', 'Tajikistan']]

                      AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent    56.451613       49.166667
Germany    Aachen      70.454545       17.857143
           Aalen       87.500000       50.000000
           Abensberg  100.000000       50.000000
           Amberg     100.000000       50.000000
...                          ...             ...
           Wolfsburg   96.875000        0.000000
           Worms       60.000000      100.000000
           Wuppertal   90.000000        0.000000
           Zwickau     75.000000       50.000000
Tajikistan Dushanbe    41.666667       61.111111

[126 rows x 2 columns]

### Hierarchical Columns

In [72]:
df2 = df1.copy()
df2

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [83]:
df2['AirPollution'] = 100 - df2['AirQuality']
df2.head()

                      AirQuality  WaterPollution  AirPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000
            Farah     100.000000        0.000000      0.000000
            Herat      43.750000       31.250000     56.250000
            Kabul      18.421053       81.060606     81.578947
            Kandahar    0.000000       75.000000    100.000000

In [84]:
df2['WaterQuality'] = 100 - df2['WaterPollution']
df2.head()

                      AirQuality  WaterPollution  AirPollution  WaterQuality
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000     50.000000
            Farah     100.000000        0.000000      0.000000    100.000000
            Herat      43.750000       31.250000     56.250000     68.750000
            Kabul      18.421053       81.060606     81.578947     18.939394
            Kandahar    0.000000       75.000000    100.000000     25.000000

In [89]:
# Hierarchical column dataframe
df3 = pd.DataFrame(df2.values, index = df2.index,
                   columns = [['AIR', 'AIR', 'WATER', 'WATER'],
                              ['AirQuality', 'AirPollution', 'WaterQuality', 'WaterPollution']]
)
df3

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [91]:
df3['AIR']

                      AirQuality  AirPollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [95]:
# naming hierarchical columns
df3.columns.names = ['Object', 'Info']
df3

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [98]:
# check index names
df3.index.names

FrozenList(['Country', 'City'])

### Rearrange index levels

#### **`DataFrame.swaplevel(`*`i=- 2, j=- 1, axis=0`*`)`**
Swap levels i and j in a **`MultiIndex`**.

**Parameters:**

- **i, j : *int or str*** -> Levels of the indices to be swapped. Can pass level name as string

- **axis : *{0 or ‘index’, 1 or ‘columns’}, default 0*** -> The axis to swap levels on. 0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise.

In [160]:
df3.swaplevel('Country', 'City').head()
# df3.swaplevel('City', 'Country').head()

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
City     Country
Andkhoy  Afghanistan   50.000000    50.000000    50.000000      50.000000
Farah    Afghanistan  100.000000     0.000000     0.000000     100.000000
Herat    Afghanistan   43.750000    31.250000    56.250000      68.750000
Kabul    Afghanistan   18.421053    81.060606    81.578947      18.939394
Kandahar Afghanistan    0.000000    75.000000   100.000000      25.000000

#### **`DataFrame.reorder_levels(`*`order, axis=0`*`)`**
Rearrange index levels using input order. May not drop or duplicate levels.

**Parameters:**

- **order : *list of int or list of str*** -> List representing new level order. Reference level by number (position) or by key (label).

- **axis : *{0 or ‘index’, 1 or ‘columns’}, default 0*** -> Where to reorder levels.

In [173]:
df3.reorder_levels(['City', 'Country']).head()

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
City     Country
Andkhoy  Afghanistan   50.000000    50.000000    50.000000      50.000000
Farah    Afghanistan  100.000000     0.000000     0.000000     100.000000
Herat    Afghanistan   43.750000    31.250000    56.250000      68.750000
Kabul    Afghanistan   18.421053    81.060606    81.578947      18.939394
Kandahar Afghanistan    0.000000    75.000000   100.000000      25.000000

#### Rearrange rows in descending order

In [175]:
# rearrange Country index (level=0)
df3.sort_index(level=0, axis=0, ascending=False)

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Zimbabwe    Masvingo   25.000000    62.500000    75.000000      37.500000
            Harare     38.461538    87.500000    61.538462      12.500000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Bindura    50.000000    75.000000    50.000000      25.000000
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
...                          ...          ...          ...            ...
Afghanistan Kandahar    0.000000    75.000000   100.000000      25.000000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Herat      43.750000    31.250000    56.250000      68.750000
            Farah     100.000000     0.000000     0.000000     100.000000
            Andkhoy    50.000000    50.000000    50.000000      50.000000

[3895 rows x 4 columns]

In [176]:
# rearrange City index (level=1)
df3.sort_index(level=1, axis=0, ascending=False)

Object                                     AIR                     WATER  \
Info                                AirQuality AirPollution WaterQuality
Country                    City
Poland                     Zywiec    50.000000    50.000000    50.000000
Germany                    Zwickau   75.000000    50.000000    25.000000
Slovakia                   Zvolen    87.500000    50.000000    12.500000
Switzerland                Zurich    83.809524    10.714286    16.190476
People's Republic of China Zunyi      0.000000    50.000000   100.000000
...                                        ...          ...          ...
Nigeria                    Aba        0.000000    50.000000   100.000000
Belgium                    Aarschot  75.000000    41.666667    25.000000
Switzerland                Aarau     87.500000     0.000000    12.500000
Germany                    Aalen     87.500000    50.000000    12.500000
                           Aachen    70.454545    17.857143    29.545455

Object
Info                                WaterPollution
Country                    City
Poland                     Zywiec        50.000000
Germany                    Zwickau       50.000000
Slovakia                   Zvolen        50.000000
Switzerland                Zurich        89.285714
People's Republic of China Zunyi         50.000000
...                                            ...
Nigeria                    Aba           50.000000
Belgium                    Aarschot      58.333333
Switzerland                Aarau        100.000000
Germany                    Aalen         50.000000
                           Aachen        82.142857

[3895 rows x 4 columns]